In [6]:
import pandas as pd

data_final = pd.read_csv("GMB_full.csv",encoding='latin')

In [7]:
data_final.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [8]:
data_final["Tag"].value_counts()

O        887908
B-geo     37644
B-tim     20333
B-org     20143
I-per     17251
B-per     16990
I-org     16784
B-gpe     15870
I-geo      7414
I-tim      6528
B-art       402
B-eve       308
I-art       297
I-eve       253
B-nat       201
I-gpe       198
I-nat        51
Name: Tag, dtype: int64

In [9]:
data_final["Tag"] = data_final["Tag"].str.replace("B-", "")

data_final["Tag"] = data_final["Tag"].str.replace("I-", "")

In [10]:
data_final["Tag"].value_counts()

O      887908
geo     45058
org     36927
per     34241
tim     26861
gpe     16068
art       699
eve       561
nat       252
Name: Tag, dtype: int64