In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = os.path.abspath(os.getcwd())
print (path)

/Users/whopriyam/Desktop/Work/NTU/Text-Genration-To-Improve-NER-And-Langauge-Modelling/Code/CoNLL_2003_Code

In [3]:
data = pd.read_csv(path+"/../../Data/CoNLL_2003/Txt_data/test.txt",sep=" ")

In [4]:
data["Sentence #"] = None
data.head()

  -DOCSTART-  -X- -X-.1      O Sentence #
0     SOCCER   NN  B-NP      O       None
1          -    :     O      O       None
2      JAPAN  NNP  B-NP  B-LOC       None
3        GET   VB  B-VP      O       None
4      LUCKY  NNP  B-NP      O       None

In [5]:
data.rename(columns = {'-DOCSTART-':'Word', '-X-':'POS',
                              'O':'Tag'}, inplace = True)

In [6]:
data.tail(20)

          Word   POS -X-.1     Tag Sentence #
46645     caps   NNS  I-NP       O       None
46646      and    CC     O       O       None
46647      was   VBD  B-VP       O       None
46648        a    DT  B-NP       O       None
46649      key    JJ  I-NP       O       None
46650   member    NN  I-NP       O       None
46651       of    IN  B-PP       O       None
46652      the    DT  B-NP       O       None
46653     1966    CD  I-NP  B-MISC       None
46654    World   NNP  I-NP  I-MISC       None
46655      Cup   NNP  I-NP  I-MISC       None
46656  winning    JJ  B-NP       O       None
46657     team    NN  I-NP       O       None
46658     with    IN  B-PP       O       None
46659      his  PRP$  B-NP       O       None
46660  younger   JJR  I-NP       O       None
46661  brother    NN  I-NP       O       None
46662        ,     ,     O       O       None
46663    Bobby   NNP  B-NP   B-PER       None
46664        .     .     O       O       None

In [7]:
a = data['Tag'].unique()
print (a)

['O' 'B-LOC' 'B-PER' 'I-PER' 'I-LOC' 'B-MISC' 'I-MISC' 'B-ORG' 'I-ORG' nan]

In [8]:
data["Tag"] = data["Tag"].str.replace("B-", "")
data["Tag"] = data["Tag"].str.replace("I-", "")

In [9]:
a = data['Tag'].unique()
print (a)

['O' 'LOC' 'PER' 'MISC' 'ORG' nan]

In [10]:
data2 = pd.DataFrame(columns=list(data.columns))
data2.head()

Empty DataFrame
Columns: [Word, POS, -X-.1, Tag, Sentence #]
Index: []

In [11]:
f = 0
c = 1
for i in data.index:
    if f==0:  
        data.at[i,"Sentence #"] = "Sentence: " + str(c)
        f = 1
    if data.at[i,"POS"] == ".":
        f = 0
        c = c+1

In [12]:
data.head()

     Word  POS -X-.1  Tag   Sentence #
0  SOCCER   NN  B-NP    O  Sentence: 1
1       -    :     O    O         None
2   JAPAN  NNP  B-NP  LOC         None
3     GET   VB  B-VP    O         None
4   LUCKY  NNP  B-NP    O         None

In [13]:
print (str(data.at[4,"Sentence #"]))

None

In [14]:
data = data[["Sentence #", "Word", "POS","Tag"]]
data.head()

    Sentence #    Word  POS  Tag
0  Sentence: 1  SOCCER   NN    O
1         None       -    :    O
2         None   JAPAN  NNP  LOC
3         None     GET   VB    O
4         None   LUCKY  NNP    O

In [15]:
data.to_csv(path+"/../../Data/CoNLL_2003/CoNLL_data/CoNLL_test.csv",index=False)